<%= content_for(:title, "Add product") %>

<h2>Add product</h2>

<%= form_with model: @product, local: true, html: { multipart: true } do |form| %>
  <div class="mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'input' %>
  </div>
  <div class="mb-4">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'input' %>
  </div>
  <div class="mb-4">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'input' %>
  </div>
  <div class="mb-4">
    <%= form.label :category %>
    <%= form.select :category, ["Jackets", "Leggings", "Shorts"],
                    { prompt: "Select category..." }, class: 'input' %>
  </div>
  <div class="mb-4">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'input' %>
  </div>

  <%= form.submit "Create Product", class: 'button button__primary' %>
<% end %>