<h2>Add product</h2>

<%= form_with model: @product, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :stock_quantity %>
    <%= form.number_field :stock_quantity %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %> <!-- Ensure this is a file_field -->
  </div>

  <%= form.submit "Create Product" %>
<% end %>