<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sportswear" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <% unless devise_controller? %>
      <%= render 'layouts/header' %>
    <% end %>
    <main style="flex-grow: 1;">
      <% if content_for?(:without_default_wrapper) %>
        <%= yield %>
      <% else %>
        <div class="container mb-4 p-5">
          <%= yield %>
        </div>
      <% end %>
    </main>
    <% unless content_for?(:without_footer) %>
      <footer>
        Copyright &copy; Maksym Hevyk
      </footer>
    <% end %>
  </body>
</html>
